<a href="https://colab.research.google.com/github/anshdhinhgra47/Authentication-System/blob/master/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [3]:
df=pandas.DataFrame([[0, 1, 2], [3, 4, 5]])

In [4]:
df

   0  1  2
0  0  1  2
1  3  4  5